body.dark-mode {
    background-color: #121212;
    color: white;
  }
  
  .navbar-dark-mode {
    background-color: #222 !important;
  }
  
  .task-high {
    color: red;
  }
  .task-medium {
    color: orange;
  }
  .task-low {
    color: green;
  }
  
  .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  